$font-size-main: 18px;
$font-size-title: 44px;
$font-family-main: 'Open Sans', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$font-color-main: #2C4058;
$font-color-secondary: #ffffff;
$font-color-third: #55B7FF;
$background-color-main: #ffffff;
$color-main: #2C4058;
$color-secondary: #55B7FF;
$color-third: #7E5AFF;
